/*

Filename: calendar.css
Code source: Web Code Geeks (https://www.webcodegeeks.com/javascript/javascript-calendar-example/)

*/


.monthPre{
    color: grey;
    text-align: center;
}
.monthNow{
    text-align: center;
	background-color: #FFFFFF;
	border: 2px solid black;
}
.dayNow{
    color: #FFFFFF;
    text-align: center;
	background-color: lightblue;
	border: 2px solid black;
}
.calendar{
	width: 90%;
}

.calendar td{
    htmlContent: 2px;
	width: 14%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.monthNow th{
    background-color: #239B56;
    color: #FFFFFF;
	padding-top: 15px;
	padding-bottom: 15px;
}
.dayNames{
    background: #FEF9E7;
    color: #000000;
    text-align: center;
	border: 2px solid black;
}

h3{
	color: blue;
}

h4{
	color: green;
}

